@layer reset, default, markdown, antd, layout, common, components, utilities;

@import 'antdv-next/style/reset.css' layer(reset);
@import './layout/index.css' layer(layout);
@import './markdown/index.css' layer(markdown);
@import './common.css' layer(common);
